.accordion {
  &__item {
    margin-bottom: @item-margin;
  }

  &__item-title-icon {
    position: absolute;
    top: 50%;
    left: @item-padding;
    margin-top: -(@icon-size / 2);

    .dir-rtl & {
      left: inherit;
      right: @item-padding;
    }
  }

  &__item-title {
    display: block;
    position: relative;
    padding: @item-padding;
    padding-left: (@icon-size + (@item-padding * 2));
    width: 100%;
    text-align: left;

    .dir-rtl & {
      padding-left: inherit;
      padding-right: (@icon-size + (@item-padding * 2));
      text-align: right;
    }
  }

  &__item-body {
    display: none;
  }

  &__item-body-inner {
    padding: @item-padding;
  }

  &__item-graphic {
    padding-top: @item-padding;
  }

  &__item-graphic-inner {
    vertical-align: bottom;
  }
  // image-left / image-right styles as suggested in example.json ?
}