.m-accordion {
  &__item-title {
    position: relative;
    padding: @item-padding @item-padding @item-padding (@icon-size + (@item-padding * 2));
    width: 100%;
    text-align: left;

    .dir-rtl & {
      padding-left: @item-padding;
      padding-right: @icon-size + (@item-padding * 2);
      text-align: right;
    }
  }

  &__item-title-icon {
    position: absolute;
    top: 50%;
    left: @item-padding;
    .transform(translateY(-50%));

    .dir-rtl & {
      left: inherit;
      right: @item-padding;
    }
  }

  &__item-title.is-closed {
    .icon {
      .icon-plus;
    }
  }

  &__item-title.is-open {
    .icon {
      .icon-minus;
    }
  }

  &__item-body {
    display: none;
  }

  // --------------------------------------------------
  // Predefined image alignment classes
  // --------------------------------------------------
  @media (min-width: @device-width-medium) {
    &__item.align-image-left {
      .m-accordion__item-body-inner {
        display: flex;
        flex-direction: row-reverse;
      }

      .m-accordion__item-text,
      .m-accordion__item-image-container {
        width: 50%;
      }
    }

    &__item.align-image-right {
      .m-accordion__item-body-inner {
        display: flex;
        flex-direction: row;
      }

      .m-accordion__item-text,
      .m-accordion__item-image-container {
        width: 50%;
      }
    }
  }
  // --------------------------------------------------
}
